.item{
    grid-area: c;
    background-color: rgb(214, 176, 208);
    padding: 14px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(218, 172, 218, 0.932);
   
}

.item img {
  width: 80px;
  height: 80px;
  border-radius:50px;
}